name: Build MLX wheels

on:
  workflow_dispatch:
    inputs:
      runs-on:
        description: "The runner to use for the build"
        required: true
        type: choice
        options:
          - macos-14
          - macos-15
        default: macos-14
      python-version:
        description: "The Python version to use for the build"
        required: true
        type: choice
        options:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        default: "3.11"
      upload-to-release:
        description: "Upload wheel to a release"
        required: false
        type: boolean
        default: false
      release-version:
        description: "Upload wheel to this release (tag)"
        required: false
        type: string

jobs:
  build-mlx-wheel:
    uses: ./.github/workflows/_build_mlx.yml
    with:
      runs-on: ${{ inputs.runs-on }}
      python-version: ${{ inputs.python-version }}
      upload-to-release: ${{ inputs.upload-to-release }}
      release-version: ${{ inputs.release-version }}
